/*
  Layout of all of the elements of the puzzle.  This defines all of the flex
  boxes and their flex specific layout settings.
 */
#crossword {
  display: flex;
  justify-content: flex-start;
}
#crossword .puzzle {
  display: flex;
  flex-direction: column;
}
#crossword .puzzle .header {
  display: flex;
  justify-content: space-between;
}
#crossword .puzzle .header .title,
#crossword .puzzle .header .author,
#crossword .puzzle .header .date,
#crossword .puzzle .header .timer {
  display: flex;
}
#crossword .puzzle .header .title {
  justify-content: flex-start;
}
#crossword .puzzle .header .author,
#crossword .puzzle .header .date {
  justify-content: center;
}
#crossword .puzzle .header .timer {
  flex-shrink: 0;
  justify-content: flex-end;
}
#crossword .puzzle .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#crossword .clues {
  display: flex;
  flex-direction: column;
}
#crossword .clues .content {
  display: flex;
  flex-grow: 1;
}
#crossword .clues .across,
#crossword .clues .down {
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 1;
}
#crossword .clues .clue-list li {
  display: flex;
  align-items: flex-start;
}


/*
  Sizing of all of the elements on the page.  In general we should attempt to
  dimension as few things as possible in order to have a fluid layout, however
  because we are trying to make the content take up the exact size regardless
  of which puzzle we're displaying we will need to specify some hardcoded
  dimensions.
*/
#crossword {
  height: 650px;
  padding: 5px 0 0 5px;
  width: 1001px;
}
#crossword .puzzle .header,
#crossword .puzzle .footer {
  width: 591px;
}
#crossword .puzzle .grid {
  height: 591px;
  width: 591px;
}
#crossword .clues[data-font-size="normal"] .clue-list .number {
  max-width: 25px;
  min-width: 25px;
  width: 25px;
}
#crossword .clues[data-font-size="large"] .clue-list .number {
  max-width: 30px;
  min-width: 30px;
  width: 30px;
}
#crossword .clues[data-font-size="xlarge"] .clue-list .number {
  max-width: 35px;
  min-width: 35px;
  width: 35px;
}


/*
  Styling of all of the elements on the page.  This defines how things should
  look, but not how containers should organize their children or how large
  the containers should be.  It does define things like borders, margins,
  padding and font sizes though.
 */
#crossword.blur {
  filter: blur(5px);
}
#crossword .puzzle .header,
#crossword .puzzle .footer {
  font-family: sans-serif;
  font-size: 80%;
  overflow: hidden;
  white-space: nowrap;
}
#crossword .puzzle .header .title {
  font-weight: bold;
}
#crossword .puzzle .header .title,
#crossword .puzzle .header .author,
#crossword .puzzle .header .date,
#crossword .puzzle .header .timer {
  margin: 0 2px;
  overflow: hidden;
}
#crossword .puzzle .grid .border {
  fill: none;
  stroke: black;
  stroke-width: 4px; /* This needs to remain in sync with view.js. */
}
#crossword .puzzle .grid .cell {
  fill: white;
  stroke: gray;
  stroke-width: 2px; /* This needs to remain in sync with view.js. */
}
#crossword .puzzle .grid .cell.block {
  fill: black;
}
#crossword .puzzle .grid .cell.shaded {
  fill: lightgray;
}
#crossword .puzzle .grid .cell.filled {
  fill: lightgreen;
}
#crossword .puzzle .grid .number {
  dominant-baseline: hanging;
  font-size: 30px;
  text-anchor: start;
  transform: translate(5px, 5px);
  pointer-events: none;
  user-select: none;
}
#crossword .puzzle .grid .content {
  font-size: 40px;
  text-anchor: middle;
  transform: translate(50px, 90px);
  pointer-events: none;
}
#crossword .puzzle .grid .content[data-length="1"] {
  font-size: 75px;
}
#crossword .puzzle .grid .content[data-length="2"] {
  font-size: 50px;
}
#crossword .puzzle .grid .content[data-length="3"] {
  font-size: 40px;
}
#crossword .puzzle .grid .content[data-length="4"] {
  font-size: 30px;
}
#crossword .puzzle .grid .content[data-length="5"] {
  font-size: 28px;
}
#crossword .clues {
  margin-left: 5px;
  min-height: 0;
}
#crossword .clues .content {
  min-height: 0;
}
#crossword .clues .across {
  margin-right: 5px;
}
#crossword .clues .clue-title {
  border-bottom: 1px solid gray;
  font-family: sans-serif;
  font-size: 80%;
  font-weight: bold;
  text-transform: uppercase;
}
#crossword .clues .clue-list {
  overflow-x: hidden;
  overflow-y: scroll;
}
#crossword .clues .clue-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#crossword .clues .clue-list li {
  font-family: sans-serif;
  transition: background-color 1s;
  transition-timing-function: ease-in-out;
}
#crossword .clues .clue-list li .number {
  font-weight: bold;
  margin-right: 5px;
  text-align: right;
}
#crossword .clues .clue-list li.filled {
  color: gray;
}
#crossword .clues .clue-list li.shown {
  background-color: lightyellow;
}
#crossword .clues[data-font-size="normal"] .clue-list,
#crossword .clues[data-font-size="normal"] .notes {
  font-size: 85%;
}
#crossword .clues[data-font-size="large"] .clue-list,
#crossword .clues[data-font-size="large"] .notes {
  font-size: 100%;
}
#crossword .clues[data-font-size="xlarge"] .clue-list,
#crossword .clues[data-font-size="xlarge"] .notes {
  font-size: 120%;
}
#crossword .clues .notes:not(:empty):before {
  content: 'NOTES:';
  font-family: sans-serif;
  font-weight: bold;
}
#crossword .clues .notes {
  font-family: sans-serif;
}
#crossword .clues .notes p {
  margin: 0;
}