/*
  Layout of all of the elements of the puzzle.  This defines all of the flex
  boxes and their flex specific layout settings.
 */
#acrostic {
  display: flex;
  justify-content: flex-start;
}
#acrostic .puzzle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#acrostic .puzzle .header,
#acrostic .puzzle .footer {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
}
#acrostic .puzzle .clues {
  display: flex;
}
#acrostic .puzzle .clues .clue-row {
  display: flex;
}


/*
  Sizing of all of the elements on the page.  In general we should attempt to
  dimension as few things as possible in order to have a fluid layout, however
  because we are trying to make the content take up the exact size regardless
  of which puzzle we're displaying we will need to specify some hardcoded
  dimensions.
*/
#acrostic {
  height: 650px;
  padding: 5px 0 0 5px;
  width: 1000px;
}
#acrostic .puzzle .header,
#acrostic .puzzle .grid,
#acrostic .puzzle .footer {
  width: 995px;  /* not 1000 to compensate for the border on the left. */
}
#acrostic .puzzle .grid .quote {
  height: 100%;
  width: 100%;
}
#acrostic .puzzle .clues .clue-column {
  flex-basis: 333px;
}
#acrostic .puzzle .clues .clue-row .clue-letter {
  padding-right: 4px;
}
#acrostic .puzzle .clues[data-font-size="normal"] .clue-row .clue-letter {
  flex-basis: 20px;
}
#acrostic .puzzle .clues[data-font-size="large"] .clue-row .clue-letter {
  flex-basis: 23px;
}
#acrostic .puzzle .clues[data-font-size="xlarge"] .clue-row .clue-letter {
  flex-basis: 27px;
}
#acrostic .puzzle .clues .clue-row .clue-body {
  flex-basis: 305px;
}
#acrostic .puzzle .clues .clue-row .clue-boxes {
  height: 35px;
}
#acrostic .chat {
  padding: 0 0 0 5px;
  width: 250px;
}

/*
  Styling of all of the elements on the page.  This defines how things should
  look, but not how containers should organize their children or how large
  the containers should be.  It does define things like borders, margins,
  padding and font sizes though.
*/
#acrostic.blur {
  filter: blur(5px);
}
#acrostic .puzzle .header,
#acrostic .puzzle .footer {
  font-family: sans-serif;
  font-size: 90%;
  overflow: hidden;
  white-space: nowrap;
}
#acrostic .puzzle .header .description {
  font-weight: bold;
}
#acrostic .puzzle .header .timer {
  margin: 0 2px;
  overflow: hidden;
}
#acrostic .puzzle .grid .border {
  fill: none;
  stroke: black;
  stroke-width: 4px; /* This needs to remain in sync with view.js. */
}
#acrostic .puzzle .grid .cell {
  fill: white;
  stroke: gray;
  stroke-width: 2px; /* This needs to remain in sync with view.js. */
}
#acrostic .puzzle .grid .cell.block {
  fill: black;
}
#acrostic .puzzle .grid .cell.filled {
  fill: lightgreen;
}
#acrostic .puzzle .grid .number {
  dominant-baseline: hanging;
  font-size: 30px;
  text-anchor: start;
  transform: translate(5px, 5px);
  pointer-events: none;
  user-select: none;
}
#acrostic .puzzle .grid .letter {
  dominant-baseline: hanging;
  font-size: 30px;
  text-anchor: end;
  transform: translate(-5px, 5px);
  pointer-events: none;
  user-select: none;
}
#acrostic .puzzle .grid .content {
  font-size: 75px;
  text-anchor: middle;
  transform: translate(50px, 90px);
  pointer-events: none;
}
#acrostic .puzzle .grid .quote {
  opacity: 0.95;
  padding: 75px;
}
#acrostic .puzzle .grid .quote .close {
  font-size: 75px;
  left: 50px;
  position: relative;
  top: -70px;
}
#acrostic .puzzle .grid .quote .text {
  font-size: 60px;
  padding-bottom: 60px;
}
#acrostic .puzzle .grid .quote .title {
  font-size: 50px;
  font-style: italic;
  text-transform: capitalize;
}
#acrostic .puzzle .grid .quote .author {
  font-size: 50px;
  text-transform: capitalize;
}
#acrostic .puzzle .clues {
  overflow-x: hidden;
  overflow-y: hidden;
}
#acrostic .puzzle .clues .clue-column:first-child {
  padding: 5px 10px 0 0;
}
#acrostic .puzzle .clues .clue-column {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 5px 5px 0 5px;
}
#acrostic .puzzle .clues .clue-column:last-child {
  padding: 5px 0 0 10px;
}
#acrostic .puzzle .clues {
  font-family: sans-serif;
}
#acrostic .puzzle .clues[data-font-size="normal"] {
  font-size: 85%;
}
#acrostic .puzzle .clues[data-font-size="large"] {
  font-size: 100%;
}
#acrostic .puzzle .clues[data-font-size="xlarge"] {
  font-size: 120%;
}
#acrostic .puzzle .clues .clue-row {
  transition: background-color 1s;
  transition-timing-function: ease-in-out;
}
#acrostic .puzzle .clues .clue-row.shown {
  background-color: lightyellow;
}
#acrostic .puzzle .clues .clue-row.filled {
  color: gray;
}
#acrostic .puzzle .clues .clue-row .clue-letter {
  font-weight: bold;
}
#acrostic .puzzle .clues .clue-row .clue-boxes rect {
  fill: none;
}
#acrostic .puzzle .clues .clue-row .clue-boxes .filled {
  fill: lightgreen;
  stroke: none;
}
#acrostic .puzzle .clues .clue-row .clue-boxes .letter {
  font-size: 50px;
  text-anchor: middle;
  transform: translate(50px, 50px);
  pointer-events: none;
}
#acrostic .puzzle .clues .clue-row .clue-boxes .number {
  font-size: 25px;
  text-anchor: middle;
  transform: translate(50px, 90px);
  pointer-events: none;
  user-select: none;
}
#acrostic .puzzle .clues .clue-row .clue-boxes line {
  stroke: black;
  stroke-width: 3px;
  transform: translateY(60px);
}