<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/puzzle.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/slider.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/win.css') }}">
  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
  <script src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/crossword.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/win.js') }}"></script>
</head>

<body>
  <nav class="navbar navbar-expand navbar-dark text-light bg-dark">
    <div class="navbar-brand">Twitch Plays Crosswords</div>

    {% if streamer %}
    <ul class="navbar-nav ml-auto">
      <button id="start-pause" type="button" class="btn btn-success invisible">Start</button>
      <li class="nav-item dropdown">
        <button id="views-dropdown" type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
          Views
        </button>
        <div id="views-dropwdown-menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="views-dropdown">
          <form>
            <div class="dropdown-item">
              <div class="lead">Streamer View</div>
              <div>
                <small class="text-muted">
                  This link allows changing of settings as well as the active puzzle. Only share it
                  with those you fully trust.
                </small>
              </div>
              <input type="text" class="form-control" value="{{ url_for('streamer', channel=owner, _external=True)}}" />
            </div>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item">
              <div class="lead">Progress View</div>
              <div>
                <small class="text-muted">
                  This link will only show the progress of the puzzle solve. As cells are
                  populated with values they will change color, but the value put in the
                  cells will not be visible. This link is intended to be shared with
                  others who are solving the puzzle at the same time, but shouldn't see
                  any answers.
                </small>
              </div>
              <input type="text" class="form-control" value="{{ url_for('progress', channel=owner, _external=True)}}" />
            </div>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item">
              <div class="lead">Participant View</div>
              <div>
                <small class="text-muted">
                  This link will show the complete progress of the solve as it happens
                  in real-time. This link is safe to share with anyone.
                </small>
              </div>
              <input type="text" class="form-control" value="{{ url_for('channel', channel=owner, _external=True)}}" />
            </div>
          </form>
        </div>
      </li>
      <li class="nav-item dropdown">
        <button id="settings-dropdown" type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
          Settings
        </button>
        <div id="settings-dropwdown-menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="settings-dropdown">
          <form>
            <div class="dropdown-item">
              <div class="lead">Only Correct Answers</div>
              <div>
                <small class="text-muted">
                  This setting enables the behavior that only correct answers or correct partial
                  answers will be accepted. With this enabled a cell in the puzzle can never
                  contain an incorrect value.
                </small>
              </div>
              <div>
                <label class="switch">
                  <input id="correct-answers-only" type="checkbox" class="form-check-input success" />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </form>
        </div>
      </li>
    </ul>
    <div class="selector">
      <input id="date-selector" type="date" class="form-control form-control-sm"></input>
    </div>
    {% endif %}
  </nav>

  <div id="crossword">
    <div class="puzzle">
      <div class="header">
        <div id="title" class="title">Title goes here.</div>
        <div class="author">by&nbsp;<span id="author">Author goes here.</span></div>
        <div id="date" class="date">Date goes here.</div>
        <div id="timer" class="timer">0h 0m 0s</div>
      </div>
      <div id="grid" class="grid">
        Puzzle grid goes here.
      </div>
      <div class="footer">
        <div>Answer a clue: <code>!12a red velvet cake</code></div>
        <div>Partially answer a clue: <code>!12a gr.y goose</code></div>
        <div>Answer with a rebus: <code>!12a (gray)goose</code></div>
        <div>Make a clue visible: <code>!show 10d</code></div>
      </div>
    </div>
    <div class="clues">
      <div class="across">
        <div class="clue-title">Across</div>
        <div id="across-clues" class="clue-list">
          Across clues go here
        </div>
      </div>
      <div class="down">
        <div class="clue-title">Down</div>
        <div id="down-clues" class="clue-list">
          Down clues go here
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" charset="utf-8">
    // Connect to the server and join the room for this channel owner.  We do
    // this every time we connect so that if we get disconnected we'll
    // automatically rejoin the room upon reconnecting.
    var socket = io();
    socket.on("connect", function () {
      socket.emit("join", "{{ owner }}");
    });

    socket.on("state", function (data) {
      var state = JSON.parse(data);
      set_play_pause(state.play_pause_state);
      render_crossword(state, eval("{{ progress | lower }}"));
      set_date(state.puzzle.published);
      set_timer(state.play_pause_state, state.last_start_time, state.total_time_secs);
    });

    socket.on("settings", function (data) {
      var settings = JSON.parse(data);
      set_settings(settings);
    })

    socket.on("show_clue", function (clue) {
      var clueElem = document.getElementById(clue);
      if (clueElem !== null) {
        clueElem.scrollIntoView();
        clueElem.classList.add("shown");
        setTimeout(function () {
          clueElem.classList.remove("shown");
        }, 2500);
      }
    });

    socket.on("solved", function () {
      // Alert after a second, this gives the UI time to show the last answer
      // before sending the alert.
      setTimeout(function () {
        start_win_animation();
      }, 1000);
    })
  </script>

  <script type="text/javascript" charset="utf-8">
    var dateSelector = document.getElementById("date-selector");
    if (dateSelector !== null) {
      dateSelector.onchange = function () {
        var date = dateSelector.value;
        if (date !== "") {
          socket.emit("set_puzzle", { "room": "{{ owner }}", "date": date });
        }
      }
    }

    var correctAnswersCheckbox = document.getElementById("correct-answers-only");
    if (correctAnswersCheckbox !== null) {
      correctAnswersCheckbox.onchange = function () {
        var value = correctAnswersCheckbox.checked;
        socket.emit("set_settings", {
          "room": "{{ owner }}",
          "settings": {
            "only_allow_correct_answers": value
          }
        });
      }
    }

    var startPauseButton = document.getElementById("start-pause");
    if (startPauseButton !== null) {
      startPauseButton.onclick = function () {
        socket.emit("play_pause", {
          "room": "{{ owner }}",
        });
      }
    }
  </script>
</body>

</html>