<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/crossword.js') }}"></script>
</head>

<body>
  <nav class="navbar navbar-expand navbar-dark text-light bg-dark">
    <div class="navbar-brand">Twitch Plays Crosswords</div>

    {% if streamer %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <button id="settings-dropdown" type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
          Settings
        </button>
        <div class="dropdown-menu px-2" aria-labelledby="settings-dropdown">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="correct-answers-only">
            <label class="form-check-label" for="correct-answers-only">Only allow correct answers</label>
          </div>
        </div>
      </li>
    </ul>
    <div class="selector">
      <input id="date-selector" type="date" class="form-control form-control-sm"></input>
    </div>
    {% endif %}
  </nav>

  <div id="crossword">
    <div>
      <div class="header">
        <div>
          <span class="title">Title:</span>
          <span id="title">Title goes here.</span>
        </div>
        <div>
          <span class="title">Date:</span>
          <span id="date">Date goes here.</span>
        </div>
      </div>
      <div id="grid">
        Puzzle grid goes here.
      </div>
      <div class="footer">
        <div>Answer a clue: <code>!answer 12a helloworld</code></div>
        <div>Make a clue visible: <code>!show 10d</code></div>
      </div>
    </div>
    <div>
      <div class="clue-title">Across</div>
      <div id="across-clues" class="clues">
        Across clues go here
      </div>
    </div>
    <div>
      <div class="clue-title">Down</div>
      <div id="down-clues" class="clues">
        Down clues go here
      </div>
    </div>
  </div>

  <script type="text/javascript" charset="utf-8">
    // Connect to the server and join the room for this channel owner.  We do
    // this every time we connect so that if we get disconnected we'll
    // automatically rejoin the room upon reconnecting.
    var socket = io();
    socket.on("connect", function () {
      socket.emit("join", "{{ owner }}");
    });

    socket.on("state", function (data) {
      var state = JSON.parse(data);
      render_crossword(state);
      set_date(state.puzzle.published);
    });

    socket.on("settings", function (data) {
      var settings = JSON.parse(data);
      set_settings(settings);
    })

    socket.on("show_clue", function (clue) {
      var clueElem = document.getElementById(clue);
      if (clueElem !== null) {
        clueElem.scrollIntoView();
      }
    });

    socket.on("solved", function () {
      // Alert after a second, this gives the UI time to show the last answer
      // before sending the alert.
      setTimeout(function () {
        alert("The puzzle has been correctly solved!");
      }, 1000);
    })
  </script>

  <script type="text/javascript" charset="utf-8">
    var dateSelector = document.getElementById("date-selector");
    if (dateSelector !== null) {
      dateSelector.onchange = function () {
        var date = dateSelector.value;
        if (date !== "") {
          socket.emit("set_puzzle", { "room": "{{ owner }}", "date": date });
        }
      }
    }

    var correctAnswersCheckbox = document.getElementById("correct-answers-only");
    if (correctAnswersCheckbox !== null) {
      correctAnswersCheckbox.onchange = function () {
        var value = correctAnswersCheckbox.checked;
        socket.emit("set_settings", {
          "room": "{{ owner }}",
          "settings": {
            "only_allow_correct_answers": value
          }
        });
      }
    }
  </script>
</body>

</html>