<!doctype html>
<html>
  <body>
    <h1>Welcome to Twitch Plays Crosswords!</h1>
    <p>
      If you've found yourself on this page then something has gone wrong. You
      probably meant to visit the page for an active crossword solving session
      for a Twitch streamer. Below are all of the currently active sessions,
      please click through to the streamer you were looking for.
    </p>

    {{if .rooms}}
      <ul>
        {{range .rooms}}
          <li><a href="/{{.}}">{{.}}</a></li>
        {{end}}
      </ul>
    {{else}}
      <p>
        It doesn't look like there are any active solves right now.
      </p>
    {{end}}

    <p>
      Questions? Comments? Feedback? Feel free to whisper @mistaeksweremade
      on Twitch.
    </p>
  </body>
</html>