.navbar .dropdown-menu {
  min-width: 250px;
  max-width: 500px;
}

.navbar .dropdown-menu small {
  white-space: normal;
}

.navbar #settings-dropwdown-menu,
.navbar #views-dropwdown-menu {
  width: 500px;
}

.navbar #settings-dropwdown-menu .dropdown-item,
.navbar #views-dropwdown-menu .dropdown-item {
  background-color: transparent;
}

.navbar #settings-dropwdown-menu .dropdown-item .lead,
.navbar #views-dropwdown-menu .dropdown-item .lead {
  color: #212529;
}

.navbar #settings-dropwdown-menu .dropdown-item .switch,
.navbar #settings-dropwdown-menu .dropdown-item .btn-group {
  margin: 8px 0 0 0;
}

.navbar #settings-dropwdown-menu .dropdown-item button {
  width: 110px;
}