/*
  Layout of all of the elements of the puzzle.  This defines all of the flex
  boxes and their flex specific layout settings.
 */

#crossword {
  display: flex;
  justify-content: space-evenly;
}
#crossword .puzzle {
  display: flex;
  flex-direction: column;
}
#crossword .puzzle .header {
  display: flex;
  justify-content: space-between;
}
#crossword .puzzle .header .title,
#crossword .puzzle .header .author,
#crossword .puzzle .header .date,
#crossword .puzzle .header .timer {
  display: flex;
}
#crossword .puzzle .header .title {
  justify-content: flex-start;
}
#crossword .puzzle .header .author,
#crossword .puzzle .header .date {
  justify-content: center;
}
#crossword .puzzle .header .timer {
  justify-content: flex-end;
}
#crossword .puzzle .grid .content {
  align-items: flex-end;
  display: flex;
  justify-content: center;
}
#crossword .puzzle .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#crossword .clues {
  display: flex;
}
#crossword .clues .across,
#crossword .clues .down {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}
#crossword .clues .clue-list li {
  display: flex;
  align-items: flex-start;
}


/*
  Sizing of all of the elements on the page.  In general we should attempt to
  dimension as few things as possible in order to have a fluid layout, however
  because we are trying to make the content take up the exact size regardless
  of which puzzle we're displaying we will need to specify some hardcoded
  dimensions.

  Additionally we'll be dealing with puzzles of drastically different sizes
  so will need to condition a lot of these rules based on the size of the
  puzzle.  Currently we support puzzles that are 15x15, 21x21 or 23x23 since
  those are the sizes that the NYT currently uses in almost all of their
  puzzles (with the 23x23 size being the size of the pre-Shortz era Sunday
  puzzles).

  In order to condition the styling rules we'll use the data-size attribute
  on the #crossword element to represent the dimensionality of the puzzle.
  With that we can provide rules that apply to a puzzle of a given size.  We'll
  make all of the unqualified rules assume that the puzzle is 21x21 in order to
  provide a set of rules that will hopefully give an unrecognized size puzzle
  a good chance of looking okay -- just maybe a bit small.
*/

/*
  Size rules that are independent of the number of cells in the puzzle.

  These define things like the capture area on the page as well as things that
  are sized relative to that capture area such as dimensions of elements within
  the clue lists.  These never need to change as the puzzle gets smaller or
  bigger.
*/
#crossword {
  height: 635px;
  padding: 5px 0 0 5px;
  width: 990px;
}
#crossword .puzzle .header,
#crossword .puzzle .footer {
  font-size: 80%;
}
#crossword .clues .clue-title {
  font-size: 80%;
}
#crossword .clues .clue-list {
  height: 600px;
  font-size: 85%;
}
#crossword .clues .clue-list .number {
  max-width: 25px;
  min-width: 25px;
  width: 25px;
}

/*
  Default sizing so data-size is intentionally omitted.  It is intended that
  these sizes work for puzzles that are around 21x21 in size.
*/
#crossword .puzzle .header,
#crossword .puzzle .footer {
  width: 570px;
}
#crossword .puzzle .grid {
  height: 570px;
  width: 570px;
}
#crossword .puzzle .grid td {
  height: 24px;
  line-height: 1;
  max-height: 24px;
  max-width: 24px;
  min-height: 24px;
  min-width: 24px;
  width: 24px;
}
#crossword .puzzle .grid .number {
  font-size: 50%;
}
#crossword .puzzle .grid .content { /* 5 or more characters */
  font-size: 40%;
}
#crossword .puzzle .grid .content[data-length="1"] {
  font-size: 70%;
}
#crossword .puzzle .grid .content[data-length="2"] {
  font-size: 70%;
}
#crossword .puzzle .grid .content[data-length="3"] {
  font-size: 60%;
}
#crossword .puzzle .grid .content[data-length="4"] {
  font-size: 50%;
}

/*
  Sizing for a 15x15 puzzle.
*/
#crossword[data-size="15"] .puzzle .header,
#crossword[data-size="15"] .puzzle .footer {
  width: 573px;
}
#crossword[data-size="15"] .puzzle .grid {
  height: 573px;
  width: 573px;
}
#crossword[data-size="15"] .puzzle .grid td {
  height: 30px;
  line-height: 1;
  max-height: 30px;
  max-width: 30px;
  min-height: 30px;
  min-width: 30px;
  width: 30px;
}
#crossword[data-size="15"] .puzzle .grid .number {
  font-size: 75%;
}
#crossword[data-size="15"] .puzzle .grid .content { /* 5 or more characters */
  font-size: 40%;
}
#crossword[data-size="15"] .puzzle .grid .content[data-length="1"] {
  font-size: 100%;
}
#crossword[data-size="15"] .puzzle .grid .content[data-length="2"] {
  font-size: 100%;
}
#crossword[data-size="15"] .puzzle .grid .content[data-length="3"] {
  font-size: 85%;
}
#crossword[data-size="15"] .puzzle .grid .content[data-length="4"] {
  font-size: 70%;
}


/*
  Sizing for a 23x23 puzzle.
*/
#crossword[data-size="23"] .puzzle .header,
#crossword[data-size="23"] .puzzle .footer {
  font-size: 70%;
  width: 578px;
}
#crossword[data-size="23"] .puzzle .grid {
  height: 578px;
  width: 578px;
}
#crossword[data-size="23"] .puzzle .grid td {
  height: 25px;
  line-height: 1;
  max-height: 25px;
  max-width: 25px;
  min-height: 25px;
  min-width: 25px;
  width: 25px;
}
#crossword[data-size="23"] .puzzle .grid .number {
  font-size: 50%;
}
#crossword[data-size="23"] .puzzle .grid .content { /* 5 or more characters */
  font-size: 50%;
}
#crossword[data-size="23"] .puzzle .grid .content[data-length="1"] {
  font-size: 90%;
}
#crossword[data-size="23"] .puzzle .grid .content[data-length="2"] {
  font-size: 90%;
}
#crossword[data-size="23"] .puzzle .grid .content[data-length="3"] {
  font-size: 75%;
}
#crossword[data-size="23"] .puzzle .grid .content[data-length="4"] {
  font-size: 50%;
}


/*
  Styling of all of the elements on the page.  This defines how things should
  look, but not how containers should organize their children or how large
  the containers should be.
 */
#crossword.blur {
  filter: blur(5px);
}
#crossword .puzzle .header,
#crossword .puzzle .footer {
  font-family: sans-serif;
  overflow: hidden;
  white-space: nowrap;
}
#crossword .puzzle .header .title {
  font-weight: bold;
}
#crossword .puzzle .grid table {
  border-collapse: collapse;
  border: 3px solid black;
  height: 100%;
  table-layout: fixed;
  width: 100%;
}
#crossword .puzzle .grid td {
  border: 1px solid darkgray;
  margin: 0;
  padding: 0;
}
#crossword .puzzle .grid td .cell {
  height: 100%;
  width: 100%;
}
#crossword .puzzle .grid .cell.block {
  background-color: black;
}
#crossword .puzzle .grid .cell.shaded {
  background-color: lightgray;
}
#crossword .puzzle .grid .cell.filled {
  background-color: lightgreen;
}
#crossword .puzzle .grid .cell .number {
  font-family: sans-serif;
  font-weight: 300;
  height: 30%;
  padding-left: 1px;
  text-align: left;
  user-select: none;
  width: 100%;
  z-index: 100;
}
#crossword .puzzle .grid .cell .content {
  font-family: sans-serif;
  height: 70%;
  overflow: hidden;
  text-align: center;
  width: 100%;
}
#crossword .clues {
  margin-left: 5px;
}
#crossword .clues .across {
  margin-right: 10px;
}
#crossword .clues .clue-title {
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid gray;
}
#crossword .clues .clue-list {
  overflow: hidden;
  overflow-y: scroll;
}
#crossword .clues .clue-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#crossword .clues .clue-list li {
  font-family: sans-serif;
  transition: background-color 2s;
  transition-timing-function: ease-in-out;
}
#crossword .clues .clue-list li.filled {
  color: gray;
}
#crossword .clues .clue-list li.shown {
  background-color: lightyellow;
}
#crossword .clues .clue-list .number {
  font-weight: bold;
  margin-right: 5px;
  text-align: right;
}
